:root {
    --cuphead-yellow: #ffcf10;
    --cuphead-green: #a0e1c0;
    --dlc-font: #433650;
    --gray: #434343;
    --lightcolor: lightgray;
    --color1: cornflowerblue;
    --color2: lightcoral;
}

@font-face {
    font-family: "cuphead-memphis";
    src: url("fonts/cuphead-memphis.ttf") format("truetype");
}

body {
    font-family: "cuphead-memphis";
    background-color: var(--gray);
    color: white;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#levelTable td {
    text-align: center;
    border: 1.5px solid var(--lightcolor);
    padding: 0;
}

#levelTable td:nth-child(7) {
    vertical-align: middle;
    text-align: center;
    padding: .3%;
    width: 34px;
}

input[type="text"] {
    font-family: "cuphead-memphis";
    width: 50px;
}

input[type="checkbox"] {
    accent-color: var(--cuphead-yellow);
    transform: scale(1.4);
}

select {
    font-family: "cuphead-memphis";
}

td img {
    display: block;
    margin: auto;
}

.inventoryTable td {
    width: 82px;
    height: 80px;
    position: relative;
    text-align: center;
    font-size: 25px;
}

.inventoryTable img:hover {
    width: 95%;
}

.inventoryTable img {
    width: 70px;
    transition: width 0.1s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.changed {
    color: black;
    background-color: var(--cuphead-yellow);
}

#flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.player-column {
    width: 45%;
}

.tabs {
    width: 100%;
    display: none;
}

.tab-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tab-links li {
    float: left;
    margin: 0;
    padding: 0;
}

.tab-links li a {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: #000;
    background: var(--lightcolor);
}

.tab-links li.active a {
    background: var(--cuphead-yellow);
}

.tab-content {
    clear: both;
    padding: 20px;
}

.tab {
    display: none;
}

.active {
    display: block;
}

.unclicked {
    filter: contrast(100%);
}

.clicked {
    filter: contrast(25%);
}

.charm,
.super {
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px var(--cuphead-yellow), 0 0 0 5px var(--cuphead-yellow);
}

.primary {
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px var(--color1), 0 0 0 5px var(--color1);
}

.secondary {
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px var(--color2), 0 0 0 5px var(--color2);
}

#gramophone {
    width: 30px;
    height: auto;
}

header {
    height: 50px;
    color: black;
    background: var(--cuphead-yellow);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap:20px;
}
#fileInput,
#downloadButton {
    width:350px;
    font-family: "cuphead-memphis";
}