:root {
    --cuphead-yellow: #ffcd00;
}

@font-face{
    font-family:"cuphead-memphis";
    src: url("fonts/cuphead-memphis.ttf") format("truetype");
}

body {
    font-family:"cuphead-memphis";
    color: white;
}

table {
    border-collapse: collapse;
    /* width:20%; */
}

td {
    border: 2px solid white;
    padding: 1%;
}
td:nth-child(4) {
    padding:0;
    padding-top:.7%;
    padding-left:.5%;
    vertical-align:bottom;
}

img{
    width:25px;
}

input[type="text"] {
    width: 50px;
}